body {
    background-color:darkolivegreen;
}

#initialCard {
    width: 80%;
    margin: 50px auto 20px auto;
    padding: 20px 40px;
    background-color: slategrey;
    color: lightgoldenrodyellow;
}

#studentForm {
margin: auto;
width: fit-content;
}

form {
    width: 40%;
    margin: 50px auto 20px auto;
    padding: 20px 40px;
    background-color: whitesmoke;
  }

.houseButtons-c {
display: flex;
justify-content: center;
margin-top: 60px;
}

#allb,
#gryffB,
#hufflB,
#ravenB,
#slythB {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
}

.hat {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
}