body {
    background-color:darkolivegreen;
}

#initialCard {
    background-color: slategrey;
    color: lightgoldenrodyellow;
    
}

#studentForm {
margin: auto;
width: fit-content;
}

.houseButtons-c {
display: flex;
justify-content: center;
margin-top: 60px;
}

#allb,
#gryffB,
#hufflB,
#ravenB,
#slythB {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
}

.hat {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
}