body {

    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExb3N2azRzd3h2MnRvZjdsdzFocHVzaG85Y3YwMHRhMHBsMDRmMnl2ZyZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/l0MYzA5czu7GV1Xt6/giphy.gif');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}


#initialCard {
    width: 70%;
    text-align: center;
    margin: 50px auto 20px auto;
    padding: 20px 40px;
    background-color: slategrey;
    color: lightgoldenrodyellow;
}

#expelledCard {
    width: 80%;
    margin: 50px auto 20px auto;
    padding: 20px 40px;
    background-color: rgb(3, 41, 3);
    color: lightgoldenrodyellow;
}


/* #studentForm {
margin: auto;
width: fit-content;
} */

form {
    width: 40%;
    margin: 50px auto 20px auto;
    padding: 20px 40px;
    background-color: whitesmoke;
  }

h3 {
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-shadow: 1px 1px 2px black;
}

h5 {
    text-align: center;
    display: flex;
}

p {
    display: flex;
    text-align: center;
}

.houseButtons-c {
display: flex;
justify-content: space-evenly;
margin-top: 60px;

}

#allb,
#gryffB,
#hufflB,
#ravenB,
#slythB {
  margin-right: 10px;
  margin-left: 10px;
  color: black;
  font-weight: 900;
}

.hat {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100px;
}

